@model GitHgMirror.Common.Models.ViewModels.MirroringConfigurationsViewModel
@using GitHgMirror.Common.Models
@using GitHgMirror.CommonTypes
@using GitHgMirror.Common.Helpers
@using Orchard.ContentManagement

@{
    Script.Require("ShapesBase");

    Html.TitleForPage(T("My Mirroring Configurations"));
}

<h1>
    @Html.TitleForPage(T("Two-way mirroring (syncing) between git and mercurial repositories").Text)
</h1>

<h2>
    @Html.ActionLink(T("Create new Mirroring Configuration").Text, "Create", "MirroringConfiguration", new { Area = "GitHgMirror.Common" }, new { @class = "button" })
</h2>

@if (Model.OwnMirroringConfigurations.Count() == 0)
{
    <h3>
        @T("There are no Mirroring Configurations to display.")
    </h3>
}
else
{
    using (Html.BeginFormAntiForgeryPost())
    {
        <fieldset>
            <ul>
                @foreach (var ownMirroringConfiguration in Model.OwnMirroringConfigurations)
                {
                    <li>
                        <span>
                            @{
                                var ownMirroringConfigurationTitle = ownMirroringConfiguration.As<Orchard.ContentManagement.Aspects.ITitleAspect>().Title;
                                var mirrorConfiguration = ownMirroringConfiguration.As<MirroringConfigurationPart>();
                                var gitUrl = RepositoryUrlHelper.RemoveAuthenticationDetails(mirrorConfiguration.GitCloneUrl);
                                var hgUrl = RepositoryUrlHelper.RemoveAuthenticationDetails(mirrorConfiguration.HgCloneUrl);
                            }

                            @ownMirroringConfigurationTitle
                        </span>
                        <span>
                            @Html.ActionLink(T("Edit/View status").Text, "Edit", "MirroringConfiguration", new { Area = "GitHgMirror.Common", id = ownMirroringConfiguration.Id }, new { })
                        </span>
                        <span>
                            @Html.ActionLink(T("Delete").Text, "Delete", "MirroringConfiguration", new { Area = "GitHgMirror.Common", id = ownMirroringConfiguration.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                        </span>
                        <span>
                            @switch (mirrorConfiguration.Direction)
                            {
                                case MirroringDirection.GitToHg:
                                    @T("(from {0} to {1})", Html.Link(!mirrorConfiguration.GitUrlIsHgUrl ? T("Git").Text : T("Hg").Text, gitUrl), Html.Link(T("Hg").Text, hgUrl));
                                    break;
                                case MirroringDirection.HgToGit:
                                    @T("(from {0} to {1})", Html.Link(T("Hg").Text, hgUrl), Html.Link(T("Git").Text, gitUrl));
                                    break;
                                case MirroringDirection.TwoWay:
                                    @T("(between {0} and {1})", Html.Link(!mirrorConfiguration.GitUrlIsHgUrl ? T("Git").Text : T("Hg").Text, gitUrl), Html.Link(T("Hg").Text, hgUrl))
                                    break;
                                default:
                                    break;
                            }
                        </span>
                        <span>
                            @mirrorConfiguration.Status
                        </span>
                    </li>
                }
            </ul>
        </fieldset>

    }
}

@using (Script.Foot())
{
    <script type="text/javascript">
        var confirmRemoveMessage = '@T("Are you sure you want to delete this Mirroring Configuration?")';
    </script>
}